<%= form_for @cuisine, url: {action: "create"} do |f| %>
  
  <% if @cuisine.errors.any? %>
    <% @cuisine.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  <% end %>

  <%= f.label :name, "Nome" %>
  <%= f.text_field :name, :required => true %>

  <%= f.submit "Enviar" %>
<% end %>