<%= render "shared/header" %>

<div class="container">
  <div class="row">
    <%= render "shared/filter" %>
      <div class="col-md-8 col-sm-12 recipes-list">
        <h1>Receitas filtradas por cozinha: <%= @cuisine.name %></h1>

        <% if @recipes.empty? %>
            Nenhuma receita encontrada para este tipo de cozinha
        <% end %>

        <% @recipes.each do |recipe| %>
            <h1><%= link_to recipe.title, recipe_path(recipe.id) %></h1>
            <ul>
                <li>Tipo: <%= recipe.recipe_type %></li>
                <li>Cozinha: <%= recipe.cuisine %></li>
                <li>Deficuldade: <%= recipe.difficulty %></li>
                <li>Tempo de preparo: <%= recipe.cook_time %> minutos</li>
            </ul>
        <% end %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
