<header>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h1>CookBook</h1>
        <p>Bem-vindo ao maior livro de receitas online</p>
      </div>

      <div class="col-md-2">
        <%= form_tag("/search", method: "get") do %>
          <%= label_tag(:q, "Busca:") %>
          <%= text_field_tag(:q) %>
          <%= submit_tag("Buscar") %>
        <% end %>
      </div>

      <div class="col-md-4 col-sm-12">
        <nav class="navbar navbar-default">
           <div class="collapse navbar-collapse" id="">
              <ul class="nav navbar-nav">
                <li><%= link_to "Início", root_path %></li>
                <li><a href="#">Minhas Receitas</a></li>
                <li><%= link_to 'Enviar uma receita', new_recipe_path %></li>
                <li><a href="#">Sair</a></li>
              </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>