<%= render "header" %>

<div class="container">
  <div class="row">
    <%= render "filter" %>
    <div class="col-md-8 col-sm-12">
      <section class="recipes-list">
        <h2>Últimas receitas</h2>
        <% @recipes.each do |recipe| %>
          <h1>
            <%= link_to recipe.title, recipe_path(recipe.id) %>
          </h1>
          <ul>
            <li>Tipo: <%= recipe.recipe_type %></li>
            <li>Cozinha: <%= recipe.cuisine %></li>
            <li>Dificuldade: <%= recipe.difficulty %></li>
            <li>Tempo de preparo: <%= recipe.cook_time %> minutos</li>
          </ul>
        <% end %>
      </section>
    </div>
  </div>
</div>

<%= render "footer" %>